.venv
__pycache__
.pytest_cache
examples
tests
vastai_sdk_vasttest.egg-info
vastai_sdk.egg-info
worker
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.egg-info
.env
.venv
.git
.gitignore
.idea
.vscode
dist/
build/
docker/__pycache__/
tests/__pycache__/