xdg
requests==2.32.3
python-dateutil==2.6.1
pytz
urllib3
pyparsing
fastapi>=0.110
uvicorn[standard]>=0.24
vastai-sdk>=0.1
anyio~=4.4
aiohttp[speedups]==3.10.1
nltk~=3.9
psutil~=6.0
pycryptodome~=3.20
Requests~=2.32
transformers~=4.52
utils==1.0.*
hf_transfer>=0.1.9
pytest
pytest-asyncio
testcontainers